li {
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-bottom: 50px;
}
header section{
    text-align: right;
}

header ul{
    text-align: left;
    height: 100px;
    margin: 0 auto;
    font-size: 20px;
}
header ul li{
    width: fit-content;
    float: left;
    margin: 0 10px;
}

body {
    background-image: url('image/noru.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.scrollimage{
    margin: 30px auto;
    text-align: center;
}
.scrollimage img {
    margin-top: 50px;
    width: 200px;
    
}

.cute img{
    max-width: 100%;
    height: auto;
    display: block;
}



footer {
    padding: auto;
    margin: auto;
    color: white;
    text-align : center;
    position: fixed;
    bottom: 0;
    width: 100%;
}